@import "variables";
@import "mixins";

.formContainer {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgb(252, 228, 228, 0.5);
  overflow-x: hidden;

  .heroContainer {
    background-image: $linear, url(../assets/postIMG.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 60vh;
    margin: 0;
    padding: 0;
  }
}

.authoursContainer {
  display: inline;
  width: 20%;
  position: fixed;
  margin: 10px;
  z-index: 1;
  font-family: $main-font;

  .blogs {
    cursor: pointer;
    &:hover {
      font-size: 16pt;
    }
  }

  .hideIcons {
    display: none;
  }

  .menuA {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(238, 201, 207, 0.575);
    border: pink 1px solid;
    cursor: pointer;

    .menuIcon {
      width: 25px;
      height: 1px;
      background-color: black;
    }
  }
}

.header {
  .linkContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    @include tablet-up {
      margin: 30px;
    }
    @include desktop {
      margin: 50px;
    }

    a {
      color: black;
      text-decoration: none;
      font-size: 14pt;
      font-family: $main-font;

      &:hover {
        border-bottom: solid black 1px;
      }

      @include phone-up {
        font-size: 20pt;
      }
    }
  }
}

.postsContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  /*   @include desktop {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
  } */
  .contentContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: rgba(228, 187, 194, 0.2);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 40%;
    }
    .headerContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      font-family: $main-font;
      text-align: center;
      font-size: 18pt;
      text-align: left;
      // border-bottom: $bottom-border;

      .storeHeader {
        text-align: left;
      }
    }
    .textContainer {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-family: $main-font;

      .titel {
        font-size: 18pt;
      }
      // border-bottom: $bottom-border;
    }
  }

  .postIMG {
    width: 225px;
    height: 250px;
    position: relative;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  }

  #img1Container {
    background-image: $linear, url(../assets/venice.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: -35%;
    top: -40%;
    @include tablet {
      left: -40%;
    }

    @include tablet-up {
      left: -45%;
    }
  }

  #img2Container {
    background-image: $linear, url(../assets/view.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: -65%;
    @include tablet {
      right: -75%;
      top: -20%;
    }
    @include tablet-up {
      right: -80%;
    }
  }
}

/* .postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  font-family: $main-font;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .post {
    background-color: rgb(214, 179, 179, 0.3);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    @include tablet {
      width: 300px;
      margin: 20px;
    }

    .postHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px;
      padding-top: 10px;

      .headerinfo {
        margin: 5px;
      }
    }
    .postContent {
      padding: 10px;
      margin: 10px;
      background-color: rgba(175, 146, 146, 0.3);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      .postText {
        // margin-top: 100px;
      }
    }
  }
}
 */
